*{


    margin: 0;
    padding: 0;
    text-align: center;
}

@media only screen and (max-width: 500px) {
    
    
h1{

    background-color: rgb(22, 117, 123);
    color: aliceblue;
    height: 5rem;
    line-height: 2rem;
    width: fit-content;
    text-align: center;

    
}


.choices{
    display: flex;
    align-items: flex-start;
    gap: 0rem;
    margin-top: 2rem;
    flex-direction: row;
    flex-basis: fit-content;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

}
.choice{
    height: 110px;
    width: 110px;
    
    }


}







h1{

    background-color: rgb(22, 117, 123);
    color: aliceblue;
    height: 5rem;
    line-height: 2rem;
    
}


.choice{
height: 110px;
width: 110px;

}

.choice:hover{

    
    cursor: pointer;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: black;
    display: flex;
}

img{
height: 100px;
width: 100px;
object-fit: cover;
border-radius: 50%;


}
.choices{


    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;

}



.score-board{
display: flex;
justify-content: center;
align-items: center;
gap: 2rem;
margin-top: 2rem;
font-size: 1rem;



}

#u-score,#c-score{


    font-size: 2rem;
}

#result{
background-color: black;
color: antiquewhite;
display: inline;
height: 2rem;
justify-content: center;
align-content: center;
padding: 1rem;
border-radius: 1rem;


}

.message{

    margin-top: 3rem;
}
.restart{

background-color: blue;
height: 2rem;
width: 3rem ;

}
/*
.popup {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    white-space: nowrap;
  }
  
  .choice:hover .popup {
    display: block;
  }*/